body{
	margin:0;
	padding:0;
    background-color: #f0f8ff;
    font-family: 'arial';
}
.login{
	width:380px;
	overflow: hidden;
	margin: auto;
	margin: 20 0 0 450px;
	padding:80px;
	background: #8a2be2;
	border-radius: 15px;
}
h1{
	text-align: center;
	color: #ff4500;
	padding: 20px;
}
label{
	color: #00ff00;
	font-size: 17px;

}
#Uname{
	width:300px;
	height: 30px;
	border:none;
	border-radius: 3px;
	padding-left: 8px;
}
#pass{
	width: 300px;
	height:30px;
	border:none;
	border-radius: 3px;
	padding-left: 8px;

}
#log{
	width: 300px;
	height: 30px;
	border: none;
	border-radius: 17px;
	padding-left: 7px;
	color:#ff4500;
	font-size: 22px;
	font-family: verdana;
}
	span{
		color: white;
		font-size: 17px;

	}
	h2{
		color:  #00ff7f;
	}

